* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
.app {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, blue, white);
    padding: 10px;
}
.todo-app {
    width: 100%;
    margin-top: 40px;
    min-height: 300px;
    max-width: 600px;
    background-color: rgb(169, 239, 140);
    margin-bottom: 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2 {
    color: #343557;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ededed;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 16px;
    color: #343557;
}
button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #d68119;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    color: #343557;
    user-select: none;
    position: relative;
}

ul li.checked {
    text-decoration: line-through;
}

ul li span {
    position: absolute;
    display: grid;
  place-items: center;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 22px;
    color: #000;
}
ul li span:hover{
    background-color: rgb(145, 207, 118);;
}